* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#loaderContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#loader {
    user-select: none;
}
